.sidebar .tabs .tab .item{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sidebar .tabs .tab .item a {
  
    margin: 0px !important;


}
.bottom_tabs .item_tab .user_profile{
    width: 50px; 
    height: 50px;
    border-radius: 100px;
}